@using EHR_MVC.Extensions;
@using System.Security.Claims;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor accessor
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EHR_MVC</title>
    <link rel="stylesheet" href="~/css/boot.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/EHR_MVC.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link active" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        @if (accessor.HttpContext.Session.GetString(SD.JWT) != null && accessor.HttpContext.Session.GetString(SD.JWT).ToString().Length > 0)
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">User Data</a>
                                <div class="dropdown-menu">
                                    @*@if (User.IsInRole(SD.SystemManager))
                                {
                                <a class="dropdown-item" asp-area="" asp-controller="" asp-action="">All Users</a>
                                }*@
                                    <a class="dropdown-item" asp-route-id="@User.Claims.ToList()[0].Value" asp-controller="Authentication" asp-action="UserData"> My Data</a>

                                    <a class="dropdown-item" asp-route-id="@User.Claims.ToList()[0].Value" asp-controller="UserInsurance" asp-action="MyInsurances"> My Insurances</a>

                                    <a class="dropdown-item" asp-controller="Authentication" asp-action="CreateUserPersonalData"> Create Personal Data</a>

                                    <a class="dropdown-item" asp-controller="Authentication" asp-action="CreateUserMedicalData"> Create Medical Data</a>

                                    <a class="dropdown-item" asp-controller="Authentication" asp-action="CreateMedicalTeam"> Create Medical Team</a>
                                </div>

                                @* <a class="dropdown-item" asp-controller="UserInsurance" asp-action="Create"> Create Insurance</a>  *@
                            </li>

                        }
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Governorate</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" asp-controller="Governorate" asp-action="Index">Governorates</a>
                                <a class="dropdown-item" asp-controller="Governorate" asp-action="Create">Create Governorate</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Health Facility</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" asp-controller="HealthFacility" asp-action="Index">Health Facilities</a>

                                <a class="dropdown-item" asp-controller="HealthFacility" asp-action="Create">Create Health Facility</a>
                            </div>
                        </li>
                    </ul>
                    @* <form class="d-flex">
                    <input class="form-control me-sm-2" type="search" placeholder="Search">
                    <button class="btn btn-secondary my-2 my-sm-0" type="submit" fdprocessedid="aifn49">Search</button>
                    </form>*@


                    @if (accessor.HttpContext.Session.GetString(SD.JWT) != null && accessor.HttpContext.Session.GetString(SD.JWT).ToString().Length > 0)
                    {
                        <a class="btn btn-outline-danger" asp-controller="Authentication" asp-action="Logout">Logout</a>
                    }
                    else
                    {
                        <a class="btn btn-outline-danger" asp-controller="Authentication" asp-action="Register">Register</a>

                        <a class="btn btn-outline-danger m-2" asp-controller="Authentication" asp-action="Login">Login</a>
                    }

                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <br />
            <br />
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - EHR_MVC - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
