@model EHR_MVC.VM.PersonalDataVM

@{
    ViewData["Title"] = "CreateUserPersonalData";
}

<h1>CreateUserPersonalData</h1>

<h4>PersonalDataCreateDTO</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateUserPersonalData" enctype="multipart/form-data">

            <div asp-validation-summary="All" class="text-danger"></div>

            @* @{
            var c = @User.Claims;
            var s = @User.Claims;
            }*@
            <input hidden asp-for="PersonalData.Id" value="@User.Claims.ToList()[0].Value" />
            <div class="form-group">
                <label asp-for="PersonalData.Occupation" class="control-label"></label>
                <input asp-for="PersonalData.Occupation" class="form-control" />
                <span asp-validation-for="PersonalData.Occupation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonalData.NumOfChildren" class="control-label"></label>
                <input asp-for="PersonalData.NumOfChildren" class="form-control" />
                <span asp-validation-for="PersonalData.NumOfChildren" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonalData.BirthDate" class="control-label"></label>
                <input asp-for="PersonalData.BirthDate" class="form-control" />
                <span asp-validation-for="PersonalData.BirthDate" class="text-danger"></span>
            </div>
           <div class="form-group">
                <label asp-for="PersonalData.GovernorateId" class="control-label"></label>
                <select asp-for="PersonalData.GovernorateId" class="form-select" asp-items="@Model.GovernoratesList">
                    <option disabled selected>Select Governorate</option>
                </select>
                <span asp-validation-for="PersonalData.GovernorateId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonalData.Address" class="control-label"></label>
                <input asp-for="PersonalData.Address" class="form-control" />
                <span asp-validation-for="PersonalData.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonalData.Phone1" class="control-label"></label>
                <input asp-for="PersonalData.Phone1" class="form-control" />
                <span asp-validation-for="PersonalData.Phone1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonalData.EmergencyPhone1" class="control-label"></label>
                <input asp-for="PersonalData.EmergencyPhone1" class="form-control" />
                <span asp-validation-for="PersonalData.EmergencyPhone1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonalData.EmergencyPhone2" class="control-label"></label>
                <input asp-for="PersonalData.EmergencyPhone2" class="form-control" />
                <span asp-validation-for="PersonalData.EmergencyPhone2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonalData.Gender" class="control-label"></label>
                <input asp-for="PersonalData.Gender" class="form-control" />
                <span asp-validation-for="PersonalData.Gender" class="text-danger"></span>
            </div>
            <div class="form-group m-2">
                Image:<input class="form-control" accept="image/*" type="file" name="image" id="upFile1" />
            </div>
             
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
 
    </div>
</div>

<div>
    <a asp-action="UserData">Back to My Data</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
